<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Listing Questions</h2>
      <% @questions.each do |question| %>
        <div class="borderthing">
          <h3>Question id</h3>
          <p>
            <%= question.question_id %>
          </p>
          <h3>Label</h3>
          <p>
            <%= question.label %>
          </p>
          <h3>Question type id</h3>
          <p>
            <%= question.question_type_id %>
          </p>
          <br>
          <div class="btn-group-md">
            <%= link_to 'Edit', edit_question_path(question), class: "btn btn-default" %>
            <%= link_to 'Create Possible Response', new_possible_response_path(question_id: question.id), class: "btn btn-default" %>

            <%= link_to 'See all possible responses for this question', question_possible_responses_path(question_id: question.id), class: "btn btn-default" %>
            <%= link_to 'Delete', question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
</div>
