  <%= form_for(@survey) do |f| %>
    <% if @survey.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

        <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :languages %><br>
      <% Survey::LANGUAGES.each do |lang| %>
        <%= f.label lang %>
        <%= check_box_tag lang, "on", @survey.languages.include?(lang.to_s) %>
      <% end %>
    <div class="field">
      <%= f.label :uses_category_selector, "Use the category selector?" %>
      <%= f.check_box :uses_category_selector %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
