<p id="notice"><%= notice %></p>

<h2>TickiT Surveys</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Languages</th>
      <th>Category selector</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.languages %></td>
        <td><%= survey.uses_category_selector %></td>

        <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure you want to delete this survey?' } %></td>

        <td><%= link_to 'Create Category', new_category_path(survey_id: survey.id) %></td>

        <td><%= link_to 'See all categories for this survey', survey_categories_path(survey_id: survey.id) %></td>

        <td><%= link_to "View JSON", survey_path(survey, "json") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
