<h3>
  <strong>Survey name:</strong>
  <%= @survey.name %>
</h3>
<p>
  <strong>Languages:</strong>
  <%= @survey.languages %>
</p>

<p>
  <strong>Uses category selector:</strong>
  <%= @survey.uses_category_selector %>
</p>
<%= link_to 'Create a category for this survey', new_category_path(survey_id: @survey.id) %>
<%= link_to 'Edit', edit_survey_path(@survey) %>
<%= link_to 'Back to all surveys', surveys_path %>
