<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<p>
  <strong>Languages:</strong>
  <%= @survey.languages %>
</p>

<p>
  <strong>Uses category selector:</strong>
  <%= @survey.uses_category_selector %>
</p>

<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
