<div class="container">
  <h3>
    <strong>Survey name</strong>
  </h3>
  <p>
    <%= @survey.name %>
  </p>
  <h3>
    <strong>Languages</strong>
  </h3>
  <p>
    <%= @survey.languages %>
  </p>
  <h3>
    <strong>Uses category selector</strong>
  </h3>
  <p>
    <%= @survey.uses_category_selector %>
  </p>
  <br>
  <%= link_to 'Create a category for this survey', new_category_path(survey_id: @survey.id), class: "btn btn-default" %>
  <%= link_to 'Edit', edit_survey_path(@survey), class: "btn btn-default" %>
  <%= link_to 'Back to all surveys', surveys_path, class: "btn btn-default" %>
</div>
