<p>
  <strong>Question:</strong>
  <%= @possible_response.question.label %>
</p>


<p>
  <strong>Value:</strong>
  <%= @possible_response.value %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @possible_response.colour %>
</p>

<p>
  <strong>Label:</strong>
  <%= @possible_response.label %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @possible_response.icon_id %>
</p>

<%= link_to 'Edit', edit_possible_response_path(@possible_response) %>

<%= link_to 'Create another possible response for this question', new_possible_response_path(question_id: @possible_response.question_id) %>

<%= link_to 'See all possible responses for this question', question_possible_responses_path(question_id: @possible_response.question_id) %>
