<p id="notice"><%= notice %></p>
<div class="container">
  <h2>Listing Categories</h2>
      <% @categories.each do |category| %>
      <div class="borderthing">
          <h3>Name</h3>
          <p><%= category.name %></p>
          <h3>Colour</h3>
          <p><%= category.colour %></p>
          <h3>Icon</h3>
          <p><%= category.icon_id %></p>
          <br>
          <div class="btn-group-md">
            <%= link_to 'Edit', edit_category_path(category), class: "btn btn-default" %></td>

            <%= link_to 'Create Question', new_question_path(category_id: category.id), class: "btn btn-default" %>

            <%= link_to 'See all questions for this category', category_questions_path(category_id: category.id), class: "btn btn-default" %>
            <%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
</div>
