<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @category.survey.name %>
  <%= @category.survey_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @category.colour %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @category.icon_id %>
</p>



<%= link_to 'Edit', edit_category_path(@category) %>
<%= link_to 'Create another category for this survey', new_category_path(survey_id: @category.survey_id) %>

<%= link_to 'Create a question for this category',  new_question_path(category_id: @category.id) %>

<%= link_to 'See all categories', categories_path %>
<!-- add in path to categories where survey_id is the same as the category you're currently viewing -->
<%= link_to 'Back to all surveys', surveys_path %>
